#buildingGUI{
  position: absolute;

  background-color: rgba(0,0,0,0);
  background-image: url('../html/HUD/images/productionBuildingHUD.png');
  opacity: 0.9;

  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: right top;

  left: 50px;
  top: 100px;

  width: 80%;
  height: 80%;
}

p.GUI_H1{
  left: 350px;
  top: 5px;
  vertical-align: text-top;
  font-size: xx-large;
  position: relative;
  background-color: rgba(0,0,0,0);
}

.GUI_t1{
  left: 350px;
  top: 0px;
  vertical-align: text-top;
  font-size: medium;
  font-weight: normal;
  position: relative;
  background-color: rgba(0,0,0,0);
}

.GUI_t1 td:first-child { font-weight: bold }

#noSelection {
  pointer-events: none;
}
